.contentWrapper {
  border: 1px solid black;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1em;
}

.project {
  border: 1px solid black;
  grid-row: 1/3;
}

#lists {
  border: 1px solid black;
  grid-row: 2/3;
}